attrs==23.1.0
Automat==22.10.0
bcrypt==4.0.1
bleach==6.0.0
canonicaljson==2.0.0
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
constantly==15.1.0
cryptography==41.0.3
hyperlink==21.0.0
idna==3.4
ijson==3.2.3
immutabledict==3.0.0
incremental==22.10.0
Jinja2==3.1.2
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
MarkupSafe==2.1.3
matrix-common==1.3.0
matrix-synapse==1.90.0
msgpack==1.0.5
netaddr==0.8.0
packaging==23.1
phonenumbers==8.13.18
Pillow==10.0.0
prometheus-client==0.17.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==1.10.12
pymacaroons==0.13.0
PyNaCl==1.5.0
pyOpenSSL==23.2.0
PyYAML==6.0.1
referencing==0.30.2
requests==2.31.0
rpds-py==0.9.2
semantic-version==2.10.0
service-identity==23.1.0
setuptools-rust==1.6.0
signedjson==1.1.4
six==1.16.0
sortedcontainers==2.4.0
treq==22.2.0
Twisted==22.10.0
typing_extensions==4.7.1
unpaddedbase64==2.1.0
urllib3==2.0.4
webencodings==0.5.1
zope.interface==6.0
